# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when run with the -o flag
*.out

# Project-local binary, built with `go build` or `go install`
dependency-checker

# Go Module Test Temp Files
*.sum.temp

# Editor/IDE specific
.vscode/
.idea/
*.iml

# OS specific
.DS_Store
Thumbs.db
